.users {
    overflow-x: auto;
    white-space: wrap;
    margin: 20px auto;
    min-height: 80vh;

    @media screen and (max-width: 400px) {
        font-size: 3vw;

        .lasts{
            font-size: 3vw;
            padding: 10px;
        }

    }

  }